@page
@{
    Layout = "_Layout";
}

<h2>Login</h2>

<form class="login-form" method="post">
        <label class="mt-10" for="email">Email</label>
    <input class="mt-5"  id="email" name="email" type="email" />
        <label class="mt-10" for="password">Password</label>
    <input class="mt-5"  id="password" name="password" type="password" />
    <button class="mt-10" type="submit">Login</button>
</form>